.mk-element-radio {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.mk-element-radio *{
	box-sizing: border-box;
}
.mk-element-radio-icon .mk-radio-item,
.mk-element-radio-button .mk-radio-item {
	float: left;
	padding: 2px 5px 0;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	background-color: #6b6b6b;
	border: 1px solid transparent;
	color: #ffffff;
	min-height: 22px;
	min-width: 22px;
	font-size: 12px;
	text-align: center;
}
.mk-element-radio-icon .mk-radio-item:first-child,
.mk-element-radio-button .mk-radio-item:first-child {
	border-radius: 2px 0 0 2px;
}
.mk-element-radio-icon .mk-radio-item:last-child,
.mk-element-radio-button .mk-radio-item:last-child {
	border-radius: 0 2px 2px 0;
}
.mk-element-radio-icon .mk-radio-item:hover,
.mk-element-radio-button .mk-radio-item:hover {
	color: inherit;
}
.mk-element-radio-icon .mk-radio-item img,
.mk-element-radio-button .mk-radio-item img {
	width: auto;
	height: 12px;
	margin-top: 2px;
	stroke: #fff;
}
.mk-element-radio-icon .mk-radio-item.mk-selected,
.mk-element-radio-button .mk-radio-item.mk-selected {
	border: 1px solid #363636;
	box-shadow: none;
	background-color: #363636;
	color: inherit;
}

.mk-element-radio-image .mk-radio-item {
	float: left;
	width: calc(100% / 4 - 12px);
	margin-right: 16px;
}
.mk-element-radio-image .mk-radio-item:nth-child(4n) {
	margin-right: 0;
}
.mk-element-radio-image .mk-radio-item img {
	width: 100%;
	height: auto;
}
.mk-element-radio-image .mk-radio-item.mk-selected {
	border: 1px solid #363636;
}